{% extends 'blog/base.html' %}

{% block content %}
   <!-- {% for post in posts %}
    <div class="post">
        <div>
            <p>Published: {{ post.published_date }}</p>
        </div>
        <div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
    {% endfor %} -->
    <div class="post">
        <p><a href="admin/">Add Post For Admin</a></p>
    </div>
    <div class="post">
        <form id="searchform" action="{% url 'post_search' %}" method="GET" accept-charset="utf-8">
            <button class="searchbutton" type="submit">
                <i class="fa fa-search">Search</i>
            </button>
            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Title or Author">
        </form>
    </div>
    <div class="post">
        <table style="width:35%">
            <tr>
                <th>Title Post</th>
                <th style="text-align:center">Publish Date</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></td>
                <td align="center">{{ post.published_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
