{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <a href="{% url 'post_list' %}" class="top-menu">Back To Top Menu</a>
        <table style="width:35%">
            <tr>
                <th>Title Post</th>
                <th style="text-align:center">Publish Date</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></td>
                <td align="center">{{ post.published_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}