<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Thompson Spaces</title>
    </head>
    <body>
        <div>
            <div>
                <p>Welcome to Thompson Spaces</p>
            </div>
            <div>
                <img src="/static/imagesku/thompson.JPG" alt="Thompson Picture" style="width:304px;height:228px;">
            </div>
        </div>
        <div>
            <p><a href="admin/">Add more post</a></p>
        </div>
        {% for post in posts %}
        <div>
            <div>
                <p>Published: {{ post.published_date }}</p>
            </div>
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
        {% endfor %}
        <div>
            <h3><a href="https://github.com/ThompsNgl/my-first-blog2">Project Repository</a></h3>
            <p>Link to "Thompson Spaces" project repository</p>
        </div>
    </body>
</html>