body {
    background-color: #E0FFFF;
    background-attachment: fixed;
}

h1 a {
    color: #9008000;
    font-family: 'Lobster';
}

h3 a {
    color: #6B0D75;
}

p {
    font-family: Purisa;
    font-size: 15px;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

.page-header {
    background-color: #90EE90;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.post {
    margin-bottom: 70px;
}